<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <h1>Hiya, {{ user.username }}!</h1>
        {% if posts %}
            {% for post in posts %}
            <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
            {% endfor %}
        {% else %}
            <h3>No Posts - It's empty in here.</h3>
        {% endif %}
    </body>
</html>